.cls-landingLayout {
  min-height: 100vh;
  height: 100%;
  background-color: var(--t-color-white);

  .cls-landing-container {
    width: 100%;
    background: linear-gradient(218.95deg,
        rgba(55, 144, 169, 0.5) 50%,
        rgba(55, 144, 169, 0.5) 99%),
      url(../../assets/images/common/landing_bg.webp);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cls-loginContainer, .ant-layout-sider {
    height: 100%;
  }

  .cls-description-heading {
    color: var(--t-color-white);
    font-size: 24px;
    line-height: 39px;
    margin-block: 15px;
  }
  
  .cls-ulPoints {
    line-height: 45px;
    font-size: 18px;
    li {
      list-style: circle;
    }
  }
  
  .cls-description-points {
    font-family: var(--font-regular);
    color: var(--t-color-white);
    margin-inline-start: 35px;
    max-width: 100%;
  }
  
  .cls-rightHeader {
    flex: 0 0 100%;
    max-width: 100%;
  
    & .cls-headerContent {
      display: flex;
      padding: 15px;
      column-gap: 20px;
    }
  }

  .cls-mobLogo {
    display: none;
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  .cls-landing-container {
    display: none;
  }

  .cls-header {
    .container {
      padding-inline: 15px;
    }
  }

  .cls-loginContainer {
    .cls-headerContent {
      display: none;
    }
  }

  .cls-mobLogo {
    display: flex;
    justify-content: center;
    margin-block-start: 85px;
  }
}

@media (min-width: 767px) and (max-width: 1080px) {
  .cls-ulPoints {
    font-size: 14px;
  }
}