.cls-loaderContainer {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  right: 0;
  inset-block-end: 0;
  background-color: transparent;
  z-index: 1;
  display: flex;
  pointer-events: none;
  cursor: wait;

  .cls-loader {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.cls-loaderWrapper {
  height: 160px;
  text-align: "center";
  background: "#f5f5f5";
}