.cls-dynamicChart {
    .cls-table-display {
        margin-top: 15px;
        height: 285px;

        .ant-table {
            .ant-table-container {
                .ant-table-content {
                    table {
                        width: 100% !important;

                        .ant-table-thead {
                            tr {
                                th {
                                    padding-inline-start: 8px;
                                }
                            }
                        }
                        .ant-table-tbody {
                            tr {
                                .ant-table-cell {
                                    padding: 5px 8px !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .ant-pagination {
            margin: 15px 0px 0px 0px;
        }
    }
}