.cls-dashboard {
    background-color: transparent;

    .cls-headerTitle {
        margin-block-end: 20px;
    }

    .ant-card-body {
        padding: 12px;
    }

    .cls-filterRow {
        position: absolute;
        inset-block-start: -52px;
        inset-inline-end: 30px;
    }

    .chart-fade-wrapper {
        position: relative;
        height: 300px;
    }

    .fade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
    }

    .fade-in {
        opacity: 1;
        z-index: 2;
        pointer-events: auto;
    }

    .fade-out {
        opacity: 0;
        z-index: 1;
    }
}