.cls-timeStamp{
    background-color: var(--t-theme-selector-bg);
    padding: 7px 10px;
    border-radius: 5px;
    margin-inline-start: 10px;
    color: var(--t-common-grey-color);
    cursor: default;
    font: 12px var(--font-regular);
    align-self: center;
  }
  