.cls-filter-component {
    .cls-filter-header {
        padding: 15px;
        width: 100%;
        align-items: center;
        border-block-end: 1.5px solid var(--t-common-grey-color-lt);
        box-shadow: 0px 3px 5px 0px var(--t-header-boxshadow);

        .cls-filter-icon {
            font-size: 22px;
            margin-block-start: -5px;
            margin-inline-end: 5px;
            color: var(--t-common-primary);
            margin-inline-start: 8px;
        }

        .cls-filter-title {
            font: 17px var(--font-medium);
            color: var(--t-common-primary);
            vertical-align: super;
        }

        .cls-reset-button {
            font: 13px / 19px var(--font-regular);
            padding-inline: 0px;
        }
    }
    .cls-filter-body {
        .ant-form {
            width: 100%;
            height: calc(100vh - 128px);
            overflow-y: auto;
            padding: 20px;
            margin-block-end: 15px;
            box-shadow: 0px 2px 2px 0px #00000017;
            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background: #132B71;
                border-radius: 10px;
            }
            .cls-title {
                color: var(--t-common-primary);
            }
            .ant-form-item {
                width: 100%;
            }
            .ant-picker {
                height: 44px;
                input {
                    margin-block-start: 2px;
                }
            }
            .cls-advanceSearchContainer{
                background: var(--t-ad-body-background);
                .ant-collapse-item{
                    .ant-collapse-header{
                        .ant-collapse-expand-icon,.ant-collapse-header-text{
                            span{
                                color: var(--t-common-primary);                
                            }
                        }
                    }
                }
            }
        }
    }
    .cls-filter-button {
        position: absolute;
        width: 100%;
        inset-block-end: 0;
        padding-block: 15px;
        .ant-btn-primary {
            width: 100%;
            padding-block: 17px;
            span {
                font-family: var(--font-medium);
                font-size: 16px;
            }
        }
    }
}

.cls-filterOpenIcon {
    padding: 18px 8px;
    background: var(--t-common-primary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: fixed;
    inset-inline-end: 0px;
    inset-block-start: 26%;
    cursor: pointer;
    z-index: 5;
    color: var(--t-color-white);
    font-size: 22px;
    box-shadow: 0px 3px 5px 0px #0000002C;

    &:hover {
        background: var(--t-common-primary) !important;
        color: var(--t-color-white) !important;
    }
}

.cls-filterCloseIcon {
    padding: 10px 12px;
    background: var(--t-common-primary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: fixed;
    inset-block-start: 27%;
    transform: translateX(-35px);
    cursor: pointer;
    span {
        color: var(--t-color-white);
        font-size: 11px;
    }
}

.ant-drawer-content-wrapper {
    .ant-drawer-content {
        border-top-left-radius: 15px;   
        .ant-drawer-body {
            padding: 0px;
        }
    }
}